/.working*
/outputs
__pycache__
/data
preprocess/image-features/raf/EmptyRoom/features.npy
preprocess/image-features/raf/FurnishedRoom/features.npy
preprocess/image-features/raf/FurnishedRoom/features_combined.zip
mesh/EmptyRoom.obj
mesh/FurnishedRoom.obj